@CHARSET "ISO-8859-1";

.centered 
{ 
	float: none;
    display: block;
    margin: 0 auto;
}

.site-about h4
{
	color: #181818;
}

.well b
{
	color: #B8860B;
}

.teamMember
{
	float:left;
	width: 155px;
	margin: 10px 10px 10px 10px;
}

.teamMember a img
{
	height: 90%;
	width: 100%;
}

#ClearBoth
{
	clear: both;
}